.project-name {
  font-size:2rem;
}

.page-header {
  padding:1rem 1rem;
  padding-bottom: 0;
}

.project-tagline {
  margin-bottom: 1rem;
  margin-top: 0;
  font-size: 1rem;
}

.btn {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 0.9em;
}

.main-content {
    font-size: .9rem;
}

.main-content blockquote {
  border-left-color: rgb(112, 175, 238);
}

